h1 {
  margin: 0 auto;
  width: 250px;
}

input {
  outline: none;
}

#submit {
  visibility: hidden;
}

#textArea {
  display: block;
  margin: 5px;
  border-bottom-width: 0px;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  padding: 5px;

}

#textbox {
  width: 50%;
  margin: 5px;
}

#chatmessages {
  margin: 0 auto;
  list-style: none;
}

#chatbox {
  float: left;
  width: 73.5%;
  height: 500px;
  margin: 5px;
  padding: 5px;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  overflow-y: scroll;
}

#fixedLi {
  list-style: none;
  text-decoration: underline;
}

#onlineList {
  width: 21%;
  height: 500px;
  float: right;
  margin: 5px;
  padding: 5px;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  overflow-y: scroll;
}
