body {
  font-family: 'Inconsolata';
  background-color: #7f8c8d;
}

#h1holder {
  height: 50px;
}

h1 {
  width: 250px;
  margin: 0 auto;
}

input {
  background-color: #bdc3c7;
  outline: none;
}

#ddl {
  background-color: #bdc3c7;
}

/*#logoutholder {
  width: 20%;
  height: 50px;
  float:right;
}*/

button#logout {
  background-color: #c0392b;
  margin: auto;
  display: fixed;
  top: 5px;
  right: 5px;

}

#submit {
  visibility: hidden;
}

#textArea {
  color: white;
  background-color: black;
  display: block;
  margin: 5px;
  border-bottom-width: 0px;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  padding: 5px;

}

#textbox {
  background-color: #bdc3c7;
  width: 45%;
  margin: 5px;
}

#chatmessages {
  margin: 0 auto;
  list-style: none;
}

#chatbox {
  background-color: black;
  float: left;
  width: 73.5%;
  height: 500px;
  margin: 5px;
  padding: 5px;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  overflow-y: scroll;
}

#fixedLi {
  list-style: none;
  text-decoration: underline;
  color: white;
}

#onlineList {
  background-color: black;
  width: 21%;
  height: 500px;
  float: right;
  margin: 5px;
  padding: 5px;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  overflow-y: scroll;
}

#loggedList {
  list-style-image: url('online.png');
}
